 body {
   margin: 5% 15%;
 
   font-family: arial, sans-serif;
   text-align: center;
   color: #5a5a5a;
}
a:link {
 	text-decoration: none;
    color: #5a5a5a;
}
 
a:visited {
  color: #8D8D8D;
}

a:hover {
    color: #444444;
  
}


 ol, ul {
   list-style: none;
 }
 
 img {
   
 }
 
 /* ---- header ---*/
 #date {
   font-style: italic;
   
 }
 
 /* ---- nav ---- */
 
 nav {
   text-align: right;
 }
 
 nav li {
   display: inline;
   margin: 2%
 }
 
 /* ---- main ---- */
 
main {
  margin: 1%;
  border-top: dotted 0.15em;
  border-bottom: dotted 0.15em;
  padding: 1%
  text-align: left;
}


.me {
  font-weight: bold;
  font-style: italic;
  color: #6B6A6A;
}

section {
  margin: 6%;  
  text-align: left
}

section p {
  margin: 2%
}

#col1 img {
 display: block;
    margin-left: auto;
    margin-right: auto 
}

#col2 ul {
  list-style: disc;
  padding-top: 3%;
}

#col2 img {
  width: 20%;
  float: right;
  padding: 2%
}

#col3 {
  clear: both;
}

.blog {
  text-align: left;
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.blog ul {
  margin: 0;
  padding: 0;
}

#back {
  margin-top: 4%;
}

/* footer */

footer {
  clear: both;
}

 